    html{
        background: #0b2d38;
        color:#1ccca6;
        text-align: center;
    }
    body{
        // overflow: hidden;
        position: relative;
        background: #0b2d38; 
        width: 100%;
        margin: 0 auto;
        // right: 200px;
        // opacity: 0.7;
    	/*Standard Width*/
    }
    .container{
        position: relative;
    }
    .content{
    	max-width: 980px;
    	margin: 0 auto;
    }
    /*SECTIONS*/
    .main{position: relative;
        overflow: hidden;
        .dark{
            position: absolute;
            width: 100%;
            display: block;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 10000;
            opacity: 0;
            background: #000;
            background: #0b2d38; 

            display: none;
        }

    }

    .bar{
        position: absolute;
        top:0;
        top:-40px;
        width: 100%;
        left: 0;
        height: 40px;
        z-index: 2000;
        background: #1ccca6;
        background: rgba(28,204,166,0.8);
        position: fixed;
        ul{
            li{
                line-height: 40px;
                display: inline-block;
                margin-left: 10px;
                a{
                    font:11pt 'Lato', sans-serif;
                    font-weight: 600;
                    color:#FFF;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
                .special{
                    background: #1ccca6;
                    border-radius: 2px;
                    a{
                        display: inline-block;
                        padding: 6px 8px;
                        font:11pt 'Lato', sans-serif;
                        font-weight: 600;
                        color:#0b2d38;
                        text-decoration: none;
                        text-transform: uppercase;
                    } 

                }
            }
    }
    /* HEADER */
    .header{
        position: relative;
        border-top: #1ccca6 8px solid;
        background: #0b2d38;
        .menu{
            position: absolute;
            right: 40px;
            top: 40px;
            ul{
                li{
                    display: inline-block;
                    margin-left: 10px;
                    a{
                        font:11pt 'Lato', sans-serif;
                        font-weight: 300;
                        color:#FFF;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
                .special{
                    background: #1ccca6;
                    border-radius: 2px;
                    a{
                        display: inline-block;
                        padding: 6px 8px;
                        font:11pt 'Lato', sans-serif;
                        font-weight: 600;
                        color:#0b2d38;
                        text-decoration: none;
                        text-transform: uppercase;
                    } 

                }
            }
        }
        .logo {
            margin-bottom: 25px;

            p{
                font:16pt 'Lato', sans-serif;
                font-weight: 300;
            }
            img{
                margin: 25px 0;
            }
        }
        .headline{
            font:13pt 'Lato', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            h1{
                padding: 20px 0;
                font-weight: 300;
                display: inline-block;
                border-top: 3px solid #1ccca6;
                border-bottom: 3px solid #1ccca6;
            }
        }
        .headline,.scroll-mark{ 
            position: relative;
            margin-top: 25px;

        }
        .scroll-mark{
            display: block;
            
            margin-top: 80px;
        }
    }


    .pitch{
        position: relative;
        width: 100%;
        overflow: hidden;
        text-transform: uppercase;
        font: 24pt 'Oswald', sans-serif;
        text-transform: uppercase;
        h1{
        }
        .next,.current{
            position: relative;
            left: 0%;
            margin: 0 auto;
            width: 50%;
            display: inline-block;
            // background: #ccc;
            text-align: center;
        }
        .next{
            // left: -100%;
            // text-indent: -100px;
        }
        .highlight{
            color:#FFF;
        }
    }



    .container{
    	margin: 0 auto;
    	background: #0b2d38;
    }
    .section{
    	padding: 40px 0;
    }
    .button a{
    	position: relative;
    	-webkit-transition: all 0.1s ease;                  
    	-moz-transition: all 0.1s ease;                 
    	-o-transition: all 0.1s ease;   
    	-ms-transition: all 0.1s ease;          
    	transition: all 0.1s ease;
    	text-decoration: none;
    	text-transform: uppercase;
    	font-size: 12pt;
    	font-weight: 400;
    	padding:8px 16px;
    	background: #1ccca6;
    	color:#092630;
    }
    .button a:after{
    	-webkit-transition: all 0.3s ease;                  
    	-moz-transition: all 0.3s ease;                 
    	-o-transition: all 0.3s ease;   
    	-ms-transition: all 0.3s ease;          
    	transition: all 0.3s ease;
    	content: "";
    	border:8px solid transparent;
    	width: 100%;
    	height: 100%;
    	margin:0px;
    	top: -8px;
    	left: -8px;
    	position: absolute;
    	background: transparent;
    	/*opacity: 0.5;*/


    }
    .button a:hover{
    	padding:8px 22px;
    }
    .button a:hover:after{

    	-webkit-animation: pulse 0.3s; /* Safari 4+ */
    	-moz-animation:    pulse 0.3s; /* Fx 5+ */
    	-o-animation:      pulse 0.3s; /* Opera 12+ */
    	animation:         pulse 0.3s; /* IE 10+ */
    }

    .title{
    	display: inline-block;
    	position: relative;
    	font: 16pt 'Oswald', sans-serif;
    	text-transform: uppercase;
    }
    .title:before{
    	display: block;
    	position: absolute;
    	content: "x";
    	left: -25px;
    	top: 8px;
    	line-height: 18pt;
    	font:10pt 'Lato', sans-serif;
    	font-weight: 300;
    }
    .title:after{
    	display: block;
    	position: absolute;
    	content: "x";
    	right: -25px;
    	top: 8px;
    	font:10pt 'Lato', sans-serif;
    	font-weight: 300;
    }
    .skills{
    	text-transform: uppercase;
    	font:18pt 'Lato', sans-serif;
    	font-weight: 300;
    	background: #092630;
    }


    .circle-wrapper{
    	padding: 20px 0;
    	position: relative;
    }
    .skill .percent{
    	display: block;
    	position: absolute;
    	content: "%";
    	font:12pt 'Oswald', sans-serif;
    	top: 55px;
    	left: 50%;
    	margin-left: 17px;

    }

    .skill.html .percent{	color:#f47e4c;}
    .skill.css .percent{	color:#33a9dc;}
    .skill.jq .percent{	color:#ed4747;}
    .skill.wp .percent{	color:#fff568;}
    .knob{
    	position: relative;
    	margin-top: 32px !important;
    	margin-left: -108px !important;
    	font-family: 'Oswald',sans-serif !important;
    	font-size: 25pt !important;
    }
    .circle-wrapper canvas{
    	-webkit-transition: all 0.3s ease;                  
    	-moz-transition: all 0.3s ease;                 
    	-o-transition: all 0.3s ease;   
    	-ms-transition: all 0.3s ease;          
    	transition: all 0.3s ease;
    	height: 120px !important;
    	width: 120px !important;
    }
    .skills ul{
    	font-size: 0;
    	width: 100%;
    	position: relative;
    }
    .skills ul .skill{
    	-webkit-transition: all 0.3s ease;                  
    	-moz-transition: all 0.3s ease;                 
    	-o-transition: all 0.3s ease;   
    	-ms-transition: all 0.3s ease;          
    	transition: all 0.3s ease;
    	position: relative;
    	font-size: 16pt;
    	display: inline-block;
    	width: 50%;
    	margin: 20px 0;
    }
    .skills ul .skill h3{
    	font-size: 14pt;
    	text-transform: uppercase;
    	font-weight: 300;
    	;}

    	.skill.html h3{	color:#f47e4c;}
    	.skill.css h3{	color:#33a9dc;}
    	.skill.jq h3{	color:#ed4747;}
    	.skill.wp h3{	color:#fff568;}
    	.skills {
    		overflow: hidden;
    	}
    	.skills .secondary-skills{
    		width: 90%;
    		margin: 30px auto;
    		left: 40px;
    	}
    	.skills .secondary-skills li{
    		text-align: left;
    		display: inline-block;
    		width: 50%;
    		text-transform: uppercase;
    		font:14pt 'Lato', sans-serif;
    		font-weight: 300;
    		position: relative;
    	}
    	.skills .secondary-skills li:before{
    		content: "x";
    		position: absolute;
    		font:7pt 'Lato', sans-serif;
    		font-weight: 300;
    		left: -12px;
    		top: 7px;

    	}
    	.other-skills h3{
    		font: 16pt 'Oswald', sans-serif;
    		text-transform: uppercase;
    	}



    	.work{
    		background: #10323d;
    	}
    	.work ul{
    		width: 100%;
    		position: relative;
    		font-size: 0;
    	}
    	.work ul li{
    		font-size: 12pt;
    		display: inline-block;
    		width: 25%;
    		height: 300px;
    		padding:20px;
    		width: 250px;
    		vertical-align: top;
    		margin: 0 auto;
    		position: relative;
    	}
      .work ul li .overlay{
       position: absolute;
       bottom: 20px;
       height: 40px;
       width: 250px;

       background:rgba(16,50,61,0.75);
       opacity: 1;
   }
   .work ul li .overlay .oltext{
       position: absolute;
       line-height: 40px;
       width: 250px;
       background:#ccc;
   }
   .work ul li .overlay .oltext .work-title{
      font: 12pt 'Oswald', sans-serif;
      color:#FFF;
      position: absolute;
      display: block;
      left: 20px;
      top: 8px;
  }
  .work ul li .overlay .oltext .work-data{
      color:#FFF;
      opacity: 0.7;
      font: 12pt 'Oswald', sans-serif;

      position: absolute;
      display: block;
      text-align: right;
      right: 20px;
      top: 8px;
  }
  .work ul li .project-wrapper{
      border-bottom: 3px solid #1ccca6;
      height: 300px;
      width: 250px;
  }
  .work ul li .project{

      background: #ccc;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      -webkit-transition: all 0.3s ease;                  
      -moz-transition: all 0.3s ease;                 
      -o-transition: all 0.3s ease;   
      -ms-transition: all 0.3s ease;          
      transition: all 0.3s ease;
    		filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    		filter: grayscale(100%); /* Current draft standard */
    		-webkit-filter: grayscale(100%); /* New WebKit */
    		-moz-filter: grayscale(100%);
    		-ms-filter: grayscale(100%); 
    		-o-filter: grayscale(100%);
    		filter: gray; /* IE6+ */
    	}
    	.work ul li:hover .project{
    		filter:none; /* Firefox 3.5+ */
    		filter: none; /* Current draft standard */
    		-webkit-filter: none;
    		-moz-filter:none;
    		-ms-filter:none;
    		-o-filter:none;
    		filter:none;
    		opacity: 1;
    	}
    	.work .project.nicho{
    		background: url(../img/work/nicho.jpg);
    		background-size: cover;

    	}


    	.work .project.eb{
    		background: url(../img/work/eb.jpg);
    		background-size: cover;

    	}
    	.work .project.agro{
    		background: url(../img/work/agro.jpg);
    		background-size: cover;

    	}

    	.work .project.facilius{
    		background: url(../img/work/facilius.jpg);
    		background-size: cover;

    	}
    	.work .project.paws{
    		background: url(../img/work/paws.jpg);
    		background-size: cover;

    	}
    	.work .project.mibanda{
    		background: url(../img/work/mibanda.jpg);
    		background-size: cover;

    	}

    	

        .contact{
            background: #1b2d34;
            background: url(../img/stardust.jpg);
            
            padding-top: 80px;
            padding-bottom: 80px;
            position: relative;
    // background: #ccc;
    font-weight: 0;
    // padding: 0;

    .column1{

        display: inline-block;
        position: relative;
        width: 60%;
        vertical-align: top;
        text-align:left;
        text-transform: uppercase;
        .me{
            height: auto;
            position: relative;
            img{
                position: absolute;
                top: 0;left: 0;
                background: #ccc;
                width: 90px;
                height: 90px;
                border-radius: 50%;
            }
            .info{
                position: relative;
                margin-left: 100px;

                h1{
                    font:18pt 'Oswald', sans-serif;

                }
                h2{
                    font:11pt 'Lato', sans-serif;
                    font-weight: 300;

                }
            }

        }
        .pitch{
            margin-top: 20px;
            h1{
                font:30pt 'Oswald', sans-serif;
                line-height: 34pt;
                span{
                    color:#FFF;
                }
            }
        }
        .convert{
            margin-top: 20px;

            h2{
                font:16pt 'Oswald', sans-serif;

            }
            a{
              font:14pt 'Lato', sans-serif;
              font-weight: 300;
              color:#FFF;
              text-decoration: none;
          }
      }
  }
  .column2{

    display: inline-block;
    position: relative;
    width: 35%;
    vertical-align: top;
    text-align: left;
    .networks{
        h2{
            font:14pt 'Oswald', sans-serif;
            text-transform: uppercase;
        }
        ul{
            margin-top: 20px;

            li{
                margin-top: 10px;
                a{
                    color:#FFF;
                    text-decoration: none;
                    font:12pt 'Lato', sans-serif;
                    font-weight: 300;
                    img{
                        width: 30px;
                        height: 30px;
                        background: #ccc;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .takeout{
        margin-top: 20px;

        text-transform: uppercase;
        h2{
            font:14pt 'Oswald', sans-serif;
            span{
                color:#FFF;
            }
        }
    }


}
}

.close{
    position: absolute;
    top: 40px;
    right: 40px;
    width: auto;
    background: #1ccca6;
    padding: 2px 8px;
    color:#0b2d38;
    z-index: 5000;
    border-radius: 2px;
    display: block;
    padding: 6px 8px;
    font:11pt 'Lato', sans-serif;
    font-weight: 600;

    text-decoration: none;
    text-transform: uppercase


}
.download{
    position: absolute;
    top: 40px;
    left: 40px;
    width: auto;
    background: #1ccca6;
    padding: 2px 8px;
    color:#0b2d38;
    z-index: 5000;
    border-radius: 2px;
    display: block;
    padding: 6px 8px;
    font:11pt 'Lato', sans-serif;
    font-weight: 600;

    text-decoration: none;
    text-transform: uppercase


}



.cv{
    position: absolute;
    width: 600px;
    right: -601px;
    height: 100%;
    background: #1b2d34;
    border-left: #1ccca6 1px solid;
    z-index: 20000;
    background: url(../img/stardust.jpg);
    opacity: 0.3;
    // padding-top: 40px;
    text-align: left;

    .education{
        text-align: center;
    }
    .cvsection{
        position: relative;
        font-size: 0;
        text-align: center;
        &.first{
            margin-top: 50px;
        }
        h1{
            text-align: center;
            text-transform: uppercase;
            font: 20pt 'Oswald', sans-serif;
        }
        .entryGroup{
            position: relative;
            font-size: 12pt;
            display: inline-block;
            width: 50%;
            // background: #ccc;
            vertical-align: top;
            text-align: left;
            .groupWrapper{
                padding: 15px;
            }
            .entry{
                h2{
                    font: 13pt 'Oswald', sans-serif;

                }
                h3{
                    margin: 2px 0;
                    font:10pt 'Lato',sans-serif;
                    text-transform: uppercase;


                    background: #1ccca6;
                    font-weight: 600;
                    padding: 2px 8px;
                    color:#0b2d38;
                    border-radius: 2px;
                    // a{
                    //     display: inline-block;
                    //     padding: 6px 8px;
                    //     font:11pt 'Lato', sans-serif;

                    //     text-decoration: none;
                    //     text-transform: uppercase;
                    // } 



                }
            }
            .jobInfo{
                h2{
                    color:#FFF;
                    font:11pt 'Lato',sans-serif;
                    text-transform: uppercase;
                }
            }
            .skillList{
                h2{
                    display: inline-block;
                    width: 40%;
                    vertical-align: top;
                    margin: 5px;
                    color:#FFF;
                    font:11pt 'Lato',sans-serif;
                    text-transform: uppercase;
                }
            }
            .moreData{
                color:#fff;
                opacity: 0.5;
                font:8pt 'Lato',sans-serif;
                text-transform: uppercase;

                font-weight: 300;
            }

            
        }
    }
}

    .cvbar{
        top:-40px;
        width: 100%;
        // left: 0;
        height: 40px;
        z-index: 1000000;
        background: #1ccca6;
        background: rgba(28,204,166,0.8);
        position: fixed;
        width: 600px;
        right: -600px;
        // right: 0;

        text-align: center;
        ul{
                li{
                    line-height: 40px;
                    display: inline-block;
                    margin-left: 10px;
                    a{
                        font:11pt 'Lato', sans-serif;
                        font-weight: 600;
                        color:#FFF;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
            }
    }


/*Animaciones arrechas. Jugando con Keyframes.*/

#scrollImg1{
    width: 50px;
    height: 15px;
    left: 50%;
    margin-left: -25px;
    background: url(../img/_scroll.png);
    position: absolute;
    bottom: 20px;

    -webkit-animation-name: scrollDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

}

#scrollImg2{
    width: 50px;
    height: 15px;
    left: 50%;
    margin-left: -25px;
    background: url(../img/_scroll.png);
    position: absolute;
    bottom: 10px;

    -webkit-animation-name: scrollDown2;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

}
#scrollImg3{
    width: 50px;
    height: 15px;
    left: 50%;
    margin-left: -25px;
    background: url(../img/_scroll.png);
    position: absolute;
    bottom: 0px;

    -webkit-animation-name: scrollDown3;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

}
@-webkit-keyframes scrollDown {
  from {
    bottom:0;
    opacity: 1;
}

to {
    bottom:10px;
    opacity: 0.8;
}
}
@-webkit-keyframes scrollDown2 {
  from {
    bottom:0;
    opacity: 1;
}

to {
    bottom:20px;
    opacity: 0.5;
}
}
@-webkit-keyframes scrollDown3 {
  from {
    bottom:0;
    opacity: 1;
}

to {
    bottom:30px;
    opacity: 0.3;
}
}





    	/* Tablet Layout: 480px to a max of 768px*/
    	@media only screen and (min-width: 480px) {

    	}
    	/* Desktop Layout: 769px to a max of 1232px */
    	@media only screen and (min-width: 769px) {
    		.skills ul .skill{
    			position: relative;
    			font-size: 16pt;
    			display: inline-block;
    			width: 25%;
    			margin: 40px 0;

    		}
    		.skills .secondary-skills{
    			width: 40%;
    			margin: 30px auto;
    			left: 40px;
    		}
    		.knob{
    			position: relative;
    			margin-top: 60px !important;
    			margin-left: -137px !important;
    			font-family: 'Oswald',sans-serif !important;
    			font-size: 32pt !important;
    		}
    		.skill .percent{
    			display: block;
    			position: absolute;
    			content: "%";
    			font:14pt 'Oswald', sans-serif;
    			top: 70px;
    			left: 50%;
    			margin-left: 20px;

    		}
    		.circle-wrapper canvas{
    			-webkit-transition: all 0.3s ease;                  
    			-moz-transition: all 0.3s ease;                 
    			-o-transition: all 0.3s ease;   
    			-ms-transition: all 0.3s ease;          
    			transition: all 0.3s ease;
    			height: 180px !important;
    			width: 180px !important;
    		}
    	}


    	/*KEYFRAMES*/
    	@-webkit-keyframes pulse {
    		0%   { opacity: 0; 
    			margin: 0;
    			border:none;
    			top: 0px;
    			left: 0px;
    		}
    		50%{
    			border: 4px solid #1ccca6;
    			background: #1ccca6;
    			opacity: 0.5;
    			top: -4px;
    			left: -4px;
    		}
    		100% { 
    			border: 6px solid #1ccca6;
    			opacity: 0;
    			top: -6px;
    			left: -6px; }
    		}
    		@-moz-keyframes pulse {
    			0%   { opacity: 0; 
    				margin: 0;
    				border:none;
    				top: 0px;
    				left: 0px;
    			}
    			50%{
    				border: 4px solid #1ccca6;
    				background: #1ccca6;
    				opacity: 0.5;
    				top: -4px;
    				left: -4px;
    			}
    			100% { 
    				border: 6px solid #1ccca6;
    				opacity: 0;
    				top: -6px;
    				left: -6px; }
    			}
    			@-o-keyframes pulse {
    				0%   { opacity: 0; 
    					margin: 0;
    					border:none;
    					top: 0px;
    					left: 0px;
    				}
    				50%{
    					border: 4px solid #1ccca6;
    					background: #1ccca6;
    					opacity: 0.5;
    					top: -4px;
    					left: -4px;
    				}
    				100% { 
    					border: 6px solid #1ccca6;
    					opacity: 0;
    					top: -6px;
    					left: -6px; }
    				}
    				@keyframes pulse {
    					0%   { opacity: 0; 
    						margin: 0;
    						border:none;
    						top: 0px;
    						left: 0px;
    					}
    					50%{
    						border: 4px solid #1ccca6;
    						background: #1ccca6;
    						opacity: 0.5;
    						top: -4px;
    						left: -4px;
    					}
    					100% { 
    						border: 6px solid #1ccca6;
    						opacity: 0;
    						top: -6px;
    						left: -6px; }
    					}