$cellSize:34px;
$highlightColor:#421E4E;
$hoverColor:#D1BDD8;

::-webkit-scrollbar { 
  display: none; 
}
.datepicker{
  padding:10px 15px;
  border-radius:4px;
  outline:0;
  border:1px solid #ccc;
  cursor: pointer;
}
.calendarWrapper{
  position: relative;
  display: inline-block;
}
.calendar{
  padding:15px;
  border-radius: 4px;
  background:#FFF;
  display: none;
  box-sizing:border-box;
  box-shadow:0px 0px 5px #333;
  position:absolute;
  top: -40px;
  left: 90%;
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #FFF transparent transparent;
  }

  .grid{
    width:auto;
    box-sizing:border-box;
    width: $cellSize * 7;
    height: $cellSize * 8;
    background:#fff;
    font-size:10.5pt;
    font-family:sans-serif;
    font-weight:700;
    box-shadow:0px 0px 1px 1px #eee;
    .header{
      height:$cellSize;
      line-height:$cellSize;
      margin:0 auto;
      text-align:center;
      color:#222;
      // Subtle Border Washout Effect on Weekday Labels
      box-shadow:0px 15px 15px #FFF; 
      position:relative;
      z-index:100;
    }
    .weekdays a{
      height: $cellSize;
      line-height: $cellSize;
      border-right:1px solid #ddd;
      box-shadow:0px -15px 15px -10px rgba(0,0,0,0.1) inset;
      box-sizing:border-box;
      position:relative;
      display:inline-block;
      width: $cellSize;
      text-align: center;
      background:#FFF;
      color:#222;
      &:last-child{
        border-right:none;
      }
    }
    .days{
      position:relative;
      height: $cellSize * 6;
      overflow:scroll;
      text-align: left;
      a{
        position:relative;
        display:inline-block;
        box-sizing:border-box;
        border-right:1px solid #ddd;
        border-bottom:1px solid #ddd;
        text-align: center;
        height:$cellSize;
        width: $cellSize;
        line-height: $cellSize;
        color:#444;
        &.disabled{
          color:rgba(0,0,0,0.2);
          pointer-events:none;
        }
        &.selected{
          background:$highlightColor;
          color:#FFF;
        }
        &:hover{
          background:$hoverColor;
          cursor:pointer;
        }
        &:nth-child(7n){
          border-right:none;
        }
      }
      .monthLabel{
        color:#FFF;
        display:block;
        position:absolute;
        width: 8px;
        height: 100%;
        padding:0 1px;
        margin: 0;
        background:#666;
        font-size: 6pt;
        text-transform: uppercase;
        line-height:8px;
        span{
          position:relative;
          word-wrap:break-word;
          height:$cellSize;
          position:relative;
          top:6px;
          font-weight: 700;
        }
      }
    }

  }




}




// Assessment Site
$contentWidth: 60%;
body{
  a{
    text-decoration: none;
  }
  background:$highlightColor;
  text-align: center;
  padding-top: 0px;
  color:#FFF;
  font:10pt 'Lato', sans-serif;
  .intro{
    font-size: 12pt;
    color:#FFF;
    width:$contentWidth;
    margin: 0 auto;
    padding:20px;
    h1{
      padding:20px;
      font-size: 2em;
    }
    h2{
      padding:10px;
    }
  }
  .assessment{
    border-top:1px solid rgba(255,255,255,0.1);
    border-bottom:1px solid rgba(255,255,255,0.1);
    width:$contentWidth;
    margin: 0px auto;
    padding:20px 0;
  }
  .outro{
    font-size: 12pt;
    color:#FFF;
    width:$contentWidth;
    margin: 0 auto;
    padding:20px;
    padding-bottom: 80px;
    h1{
      padding:20px;
      font-size: 2em;
    }
    h2{
      padding:10px;
    }
  }
  label{
    color:#FFF;
    display: block;
    font-size: 12pt;
    padding: 20px 0;
    padding-bottom: 5px;
  }
  .datepicker{
    color:#FFF;
    border:3px solid #FFF;
    background: transparent;
    font:10pt 'Lato', sans-serif;
    text-transform: uppercase;
    width: 200px;
  }
  
  .codepen{
    background: #fff;
    border-radius:2px;
    padding:2px 6px;
    img{
      height:10pt;
    }
    &:hover{
      background: #3862d7;
      img{
        filter: invert(100%);
      }
    }
  }
  .github{
    background: #fff;
    border-radius:2px;
    padding:2px 6px;
    color:#000;
    img{
      height:11pt;
    }
    &:hover{
      color:#FFF;
      background: #3862d7;
      img{
        filter: invert(100%);
      }
    }
  }
}



