::-webkit-scrollbar {
  display: none; }

.datepicker {
  padding: 10px 15px;
  border-radius: 4px;
  outline: 0;
  border: 1px solid #ccc;
  cursor: pointer; }

.calendarWrapper {
  position: relative;
  display: inline-block; }

.calendar {
  padding: 15px;
  border-radius: 4px;
  background: #FFF;
  display: none;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #333;
  position: absolute;
  top: -40px;
  left: 90%; }
  .calendar:before {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #FFF transparent transparent; }
  .calendar .grid {
    width: auto;
    box-sizing: border-box;
    width: 238px;
    height: 272px;
    background: #fff;
    font-size: 10.5pt;
    font-family: sans-serif;
    font-weight: 700;
    box-shadow: 0px 0px 1px 1px #eee; }
    .calendar .grid .header {
      height: 34px;
      line-height: 34px;
      margin: 0 auto;
      text-align: center;
      color: #222;
      box-shadow: 0px 15px 15px #FFF;
      position: relative;
      z-index: 100; }
    .calendar .grid .weekdays a {
      height: 34px;
      line-height: 34px;
      border-right: 1px solid #ddd;
      box-shadow: 0px -15px 15px -10px rgba(0, 0, 0, 0.1) inset;
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      width: 34px;
      text-align: center;
      background: #FFF;
      color: #222; }
      .calendar .grid .weekdays a:last-child {
        border-right: none; }
    .calendar .grid .days {
      position: relative;
      height: 204px;
      overflow: scroll;
      text-align: left; }
      .calendar .grid .days a {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        text-align: center;
        height: 34px;
        width: 34px;
        line-height: 34px;
        color: #444; }
        .calendar .grid .days a.disabled {
          color: rgba(0, 0, 0, 0.2);
          pointer-events: none; }
        .calendar .grid .days a.selected {
          background: #421E4E;
          color: #FFF; }
        .calendar .grid .days a:hover {
          background: #D1BDD8;
          cursor: pointer; }
        .calendar .grid .days a:nth-child(7n) {
          border-right: none; }
      .calendar .grid .days .monthLabel {
        color: #FFF;
        display: block;
        position: absolute;
        width: 8px;
        height: 100%;
        padding: 0 1px;
        margin: 0;
        background: #666;
        font-size: 6pt;
        text-transform: uppercase;
        line-height: 8px; }
        .calendar .grid .days .monthLabel span {
          position: relative;
          word-wrap: break-word;
          height: 34px;
          position: relative;
          top: 6px;
          font-weight: 700; }

body {
  background: #421E4E;
  text-align: center;
  padding-top: 0px;
  color: #FFF;
  font: 10pt 'Lato', sans-serif; }
  body a {
    text-decoration: none; }
  body .intro {
    font-size: 12pt;
    color: #FFF;
    width: 60%;
    margin: 0 auto;
    padding: 20px; }
    body .intro h1 {
      padding: 20px;
      font-size: 2em; }
    body .intro h2 {
      padding: 10px; }
  body .assessment {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 60%;
    margin: 0px auto;
    padding: 20px 0; }
  body .outro {
    font-size: 12pt;
    color: #FFF;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 80px; }
    body .outro h1 {
      padding: 20px;
      font-size: 2em; }
    body .outro h2 {
      padding: 10px; }
  body label {
    color: #FFF;
    display: block;
    font-size: 12pt;
    padding: 20px 0;
    padding-bottom: 5px; }
  body .datepicker {
    color: #FFF;
    border: 3px solid #FFF;
    background: transparent;
    font: 10pt 'Lato', sans-serif;
    text-transform: uppercase;
    width: 200px; }
  body .codepen {
    background: #fff;
    border-radius: 2px;
    padding: 2px 6px; }
    body .codepen img {
      height: 10pt; }
    body .codepen:hover {
      background: #3862d7; }
      body .codepen:hover img {
        -webkit-filter: invert(100%);
                filter: invert(100%); }
  body .github {
    background: #fff;
    border-radius: 2px;
    padding: 2px 6px;
    color: #000; }
    body .github img {
      height: 11pt; }
    body .github:hover {
      color: #FFF;
      background: #3862d7; }
      body .github:hover img {
        -webkit-filter: invert(100%);
                filter: invert(100%); }
